@model IEnumerable<WebTinTuc.Topic>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2 >Danh sách danh mục bài báo</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create", null, new {@class = "btn btn-primary"})
</p>
<table class="table bg-info col-lg-12 col-md-6 col-sm-3">
    <tr>
        <th class="bg-success col-lg-4 col-md-2 col-sm-1">
            Tên danh mục
        </th>
        <th class="bg-success col-lg-4 col-md-2 col-sm-1"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TopicName)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id = item.TopicID }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Chi tiết", "Details", new { id = item.TopicID }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Xoá", "Delete", new { id = item.TopicID }, new { @class = "btn btn-primary" })
        </td>
    </tr>
}

</table>
